body {
  font-family: sans-serif;
  margin: 10px;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

input {
  margin: 5px;
  padding: 5px;
  font-size: small;
}

#label_buscar {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.product-item {
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: small;
}

.product-item.inactive {
  opacity: 0.5;
  background-color: gray;
}

h2 {
  text-align: center;
}